In [23]:
# dependencies and set up
from sqlalchemy import create_engine
import pandas as pd
from matplotlib import pyplot as plt

#import password from config
import config

In [24]:
# establish connection string
connection_str = f"postgres://postgres:{password}@34.72.210.216:5432/Employees"

In [25]:
# create engine
engine = create_engine(connection_str)

In [26]:
# set command to a variable
cmd = "SELECT * FROM salaries"

In [27]:
# read table
df = pd.read_sql(cmd, con=engine)

In [28]:
df.head()

  emp_no  salary
0  10001   60117
1  10002   65828
2  10003   40006
3  10004   40054
4  10005   78228